body {
  margin: 0px auto;
}

.alert__bloc {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: #151515;
  font-size: 12px;
  position: relative;
}
.alert__bloc img {
  position: absolute;
  left: 50px;
  bottom: 20%;
}

.search__bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__bar--logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__bar--logo img {
  margin-right: 20px;
}
.search__bar--logo input {
  width: 200px;
  border: none;
  border-bottom: 1px solid #1e1c74;
  text-align: left;
}
.search__bar--logo .fa-search {
  border-bottom: 1px solid #1e1c74;
}
.search__bar--icons {
  display: flex;
  color: #1e1c74;
}
.search__bar--icons .divider {
  width: 1px;
  height: 30px;
  background-color: #1e1c74;
  margin: 0 10px 10px;
}
.search__bar--icons a {
  display: block;
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
}
.search__bar--icons a .fas, .search__bar--icons a .far {
  margin-bottom: 10px;
}

.main__nav ul {
  display: flex;
}
.main__nav ul li {
  margin-right: 20px;
  list-style: none;
  color: #1e1c74;
}

.logo__title {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to top, #f19340 90%, #daa678);
  -webkit-box-shadow: 0 5px 10px 0 rgba(191, 191, 191, 0.5);
  box-shadow: 0 5px 10px 0 rgba(191, 191, 191, 0.5);
}
.logo__title img {
  width: auto;
  height: 40px;
  margin-right: 40px;
}
.logo__title h1, .logo__title h2 {
  text-align: center;
}

.section__game {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__game .section__gameWrappe {
  width: 52%;
  max-width: 1100px;
  padding: 2rem;
}
.section__game .section__gameWrappe--btn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__game .section__gameWrappe--btn button {
  height: 40px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 30%;
  color: #f19340;
  -webkit-box-shadow: 26px 34px 2px 5px #FFFFFF;
  box-shadow: 6px 4px 7px 5px #f5f4f4;
  background-color: white;
  margin-right: 15px;
}
.section__game .section__gameWrappe--btn button .fas, .section__game .section__gameWrappe--btn button .far {
  margin-right: 15px;
}
.section__game .section__gameWrappe--price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 1rem;
}
.section__game .section__gameWrappe--price .select__mise {
  height: 100px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20%;
  color: #f19340;
  -webkit-box-shadow: 26px 34px 2px 5px #FFFFFF;
  box-shadow: 6px 4px 7px 5px #f5f4f4;
  background-color: white;
}
.section__game .section__gameWrappe--price .select__mise button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 100%;
  color: #f19340;
  background-color: white;
}
.section__game .section__gameWrappe--price .select__mise .default {
  color: white;
  background-color: #f19340;
}
.section__game .section__gameWrappe .inputNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__game .section__gameWrappe .inputNumber input {
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;
  font-weight: 800;
  color: #f19340;
  background-color: white;
  padding: 0.4em;
  border-radius: 100%;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: 0 5px 10px 0 rgba(191, 191, 191, 0.5);
  box-shadow: 0 5px 10px 0 rgba(191, 191, 191, 0.5);
}
.section__game .section__gameWrappe .inputNumber input:hover {
  cursor: pointer;
  background-color: #f19340;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
