body {
    margin: 0px auto;
}

@import './variables';
@import './header';
@import './sectionGame';




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}



a{
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

